html {
    font-size: 16px;

}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
  max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

ul {
    margin: 0;
}

header {
  background-color: #ffffff;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow:row wrap;
  border-bottom: 3px solid #D4BD91;
}

header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0;
  font-weight: 600;
  font-size: 3em;
  padding: 35px 20px;
  border-bottom: 3px solid #D4BD91;
  text-align: center;
}

header nav {
    padding: 20px 0;
    width: 100%;
    display:flex;
    justify-content:center;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
  padding: 10px 0;
  list-style: none;
  text-align: center;
}

header nav ul li a {
  text-decoration:none;
  color:#BDC2BF;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #BDC2BF;
  width: 100%;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #D4BD91;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
  color: #D4BD91;
  font-size: 1.125em;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625;
  text-align: justify;
}


main p span {
    font-family: 'Lora', sans-serif;
}


.about,
.travels,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  border-top: 3px solid #D4BD91;
  text-align: center;

}

.about h4,
.travels h4,
.contact h4 {
  padding:10px 30px;
}

.about {
  font-size: 1em;
  line-height: 1.3125;
}

.travel-list {
  list-style: none;
  padding: 0;
}

.travel-list li {
  padding: 10px 0;
  color:#ffffff;
}

.address {
	font-size: 1em;
	line-height: 1.5;
}

footer{
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
  color: #D4BD91;
  border-top: 3px solid #eee;
}



@media all and (min-width: 768px) {

.bottom-section {
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #D4BD91;
}

.about,
.travels,
.contact {
  border-top: none;
  flex-basis: 30%;
  padding: 0 10px;
}

.travels {
  border-left: 2px solid #D4BD91;
  border-right: 2px solid #D4BD91;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}


header nav ul li a {
  padding: 0 30px;
}

}


@media all and (min-width: 1200px) {
  header {
    justify-content: space-between;
  }

  header h1 {
    text-align: left;
    border-bottom: none;
    width: 30%;
    padding: 0;
  }

header nav {
  width: 40%

}

header nav ul {
  display: flex;
  justify-content: space-between;
}


header nav ul li a {
  padding: 0 30px;
}

.bottom-section {
  justify-content: flex-start;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 0;
  align-items: flex-start;
}

.about,
.travels,
.contact {
  width: 33.3%;
  justify-content: space-around;
  padding: 0 30px;
}

footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: none;
}

}
