/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Large Background Image*/
html {
    font-size: 16px;

}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
  max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

ul {
    margin: 0;
}

header {
  background-color: #ffffff;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow:row wrap;
  border-bottom: 3px solid #D4BD91;
}

header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0;
  font-weight: 600;
  font-size: 3em;
  padding: 35px 20px;
  border-bottom: 3px solid #D4BD91;
  text-align: center;
}

header nav {
    padding: 20px 0;
    width: 100%;
    display:flex;
    justify-content:center;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
  padding: 10px 0;
  list-style: none;
  text-align: center;
}

header nav ul li a {
  text-decoration:none;
  color:#BDC2BF;
}

.top-section,
.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #D4BD91;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
  color: #D4BD91;
  font-size: 1.125em;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625;
  text-align: justify;
}


main p span {
    font-family: 'Lora', sans-serif;
}


.about,
.travels,
.contact {
  width: 100%;
  border-top: 3px solid #D4BD91;
  background: #BDC2BF;
  text-align: center;
}


.about {
  font-size: 1em;
  line-height: 1.3125;
}

.travel-list {
  list-style: none;
  padding: 0;
}

.travel-list li {
  padding: 10px 0;
  color:#ffffff;
}

.address {
	font-size: 1em;
	line-height: 1.5;
}

footer{
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
  color: #D4BD91;
  border-top: 3px solid #eee;
}



@media only screen and (min-width: 768px) {

.bottom-section {
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #D4BD91;
}

.about,
.travels,
.contact {
  border-top: none;
  flex-basis: 30%;
}

.travels {
  border-left: 1px solid #D4BD91;
  border-right: 1px solid #D4BD91;
  padding: 0 20px;
}

}


@media only screen and (min-width: 1200px) {
  header {
    justify-content: space-between;
  }

  header h1 {
    text-align: left;
    border-bottom: none;
    width: 30%;
    padding: 0;
  }

header nav {
  width: 40%

}

header nav ul {
  display: flex;
  justify-content: space-between;
}


header nav ul li a {
  padding: 0 30px;
}

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
